.table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0 15px;
    margin: 0 auto;
}

.table th,
.table td {
    background-color: #454545;
}

.table th {

    padding: 8px;
    text-align: left;
}

.table th:first-child,
.table td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.table th:last-child,
.table td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}