:root {
  --grey-scale-100: #f8f9fa;
  --grey-scale-200: #e9ecef;
  --grey-scale-300: #dee2e6;
  --grey-scale-400: #ced4da;
  --grey-scale-500: #adb5bd;
  --grey-scale-600: #868e96;
  --grey-scale-700: #495057;
  --grey-scale-800: #343a40;
  --grey-scale-900: #212529;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--grey-scale-200);
}

button {
  border: none;
  cursor: pointer;
}